.logo-background{
    width: 100%;
    border-radius: 3px;
    opacity:0.9;
}

body{
    color:#2d2828;
    margin: 0;
}

.MuiCardMedia-root {
    image-orientation: from-image;
}

img {
    image-orientation: from-image;
}